*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.calculator{
    background:#333;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}
#display{
    width:100%;
    height:60px;
    font-size:28px;
    text-align:right;
    padding:10px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
    background:white;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,70px);
    gap:10px;
}

button{
    height:60px;
    border:none;
    border-radius:10px;
    font-size:22px;
    cursor:pointer;
    background:#555;
    color:white;
    transition:0.3s;
}

button:hover{
    background:#777;
}

.operator{
    background:#ff9500;
}

.operator:hover{
    background:#ffa733;
}

.equal{
    grid-column:span 2;
    background:#28a745;
}

.equal:hover{
    background:#3cc45a;
}
